*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  padding: 10px 5px;
  margin: 10px;
}
.category-container {
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: flex-start;
}
.select {
  height: 25px;
}


h2 {
  font-size: 17px;
  margin-bottom: 10px;
}
.plentific {
  background-image: url('./plentific-logo.svg');
  background-repeat: no-repeat;
}
.homepage {
  height: 80px;
  border-bottom: 10px solid #18ccb1;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
}
svg {
  width: 220px;
}

.submit-btn {
  margin-top: 30px;
  // margin-left: 20px;
  width: 130px;
  padding: 3px 10px;
}

.container {
  width: 100%;
}

.results-container {
  border: 1px solid black;
  margin: 20px 0px;
  width: 100%;
}

.results-page {
  display: flex;
  justify-content: center;
  padding: 20px 5px;
  // margin: 0 20px;
}

.table-rows {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}
.table-rows:hover {
  cursor: pointer;
}

.table-rows td, .table-rows th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-rows tr:nth-child(even){background-color: #f2f2f2;}

.table-rows tr:hover {background-color: #ddd;}

.table-rows th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #18ccb1;
  color: white;
}
.form-input {
  margin-bottom: 5px;
  height: 25px;
}
.is-danger {
  border: 1px solid red;
}
.postcode-container {
  p {
    color: red;
  }
}


@media (min-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: row;
  }
  .postcode-container {
    margin-right: 20px;
  }
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}