*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  text-align: center;
  padding: 10px 5px;
  margin: 10px;
}
.category-container {
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
.category-label,
.postcode-label {
  text-align: center;
}
.select {
  height: 25px;
}



h2 {
  font-size: 17px;
  margin-bottom: 10px;
}
.plentific {
  background-image: url('./plentific-logo.svg');
  background-repeat: no-repeat;
}
.homepage {
  text-align: center;
  height: 80px;
  border-bottom: 10px solid #18ccab;
  margin-bottom: 10px;
  padding: 0;
}
svg {
  width: 220px;
  text-align: center;
}

.submit-btn {
  margin-top: 30px;
  cursor: pointer;
  width: 130px;
  padding: 3px 10px;
}

.container {
  width: 100%;
}

.results-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 20px 0px;
  width: 100%;
}

.results-page {
  display: flex;
  justify-content: center;
  padding: 20px 5px;
  // margin: 0 20px;
}

.table-rows {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  font-size: 14px;
}
.table-rows:hover {
  cursor: pointer;
}

.table-rows td, .table-rows th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-rows tr:nth-child(even){background-color: #f2f2f2;}

.table-rows tr:hover {background-color: #ddd;}

.table-rows th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #18ccb1;
  color: white;
}
.form-input {
  margin-bottom: 5px;
  height: 25px;
  padding-left: 5px;
}
.is-danger {
  border: 1px solid red;
  padding-left: 5px;
}
.postcode-container {
  padding: 0 20px;
  p {
    color: red;
    font-size: 13px;
    text-align: left;
  }
}


.spinner {
  text-align: center;
  h4 {
    margin-bottom: 20px;
  }
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.pagination {
  a {
    text-decoration: none;
    padding: 3px;
    color: #1887cc;
    background-color: white;
    padding: 5px 10px;
  }
  .page-item.disabled {
    opacity: .4;
  }
  .page-link {
    border: 1px solid #a5a5a56c;
  }
  a:focus,
  a.active {
    text-decoration: none;
    padding: 3px;
    color: white;
    background-color: #1887cc;
    padding: 5px 10px;
  }
}



@media (min-width: 768px) {
  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .postcode-container {
    margin-right: 20px;
  }
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0;

  }
  .category-label,
  .postcode-label {
  text-align: left;
}

}